
//- below line means ki hum base.pug me jo basic template hai, usko bhar rhe hai.......so server se base.pug hi serve hoga but uske contents will be replaced by contenrs of home.pug....so base.pug is a template (and this is called as template inheritance)
extends base.pug    

block scripts
  script(src='/static/index.js')

block style 
  style
    include ../static/style.css
  style.
    @media screen and (max-width: 1516px){
        #navbar li{
          padding: 0px 23px;
        }

        #missionSection{
            display:flex;
            flex-direction:column;
            height:780px
        }

        .card{
            margin: 24px auto;
            width: 80%;
        }

        .card h3{
            font-size:23px;
        }

        #sponsorSection{
            height:811px;
            display:flex;
            flex-direction: column;
        }

        #sponsorSection h2{
            margin-bottom: -30px;
        }

        .spImage{
            display:block;
            height:150px;
            margin:28px

        }

        #footer{
            bottom: 0px;
            width:100%;
            }
    }
    
block content 
    section#introSection
        div Welcome to Sachit's Dance Academy
        div.small Eat Dance Sleep Repeat  

    section#missionSection
        h2 Our Mission 
        div.card
            h3 Dance Perfection
            div.card-box 
                div.card-img 
                    img(src="static/img/1.jpg")
                div.card-content 
                    p This is the best dance academy of the universe. Join the academy and become the sensation of dancing.
        div.card
            h3 Dance the way you like
            div.card-box 
                div.card-img 
                    img(src="static/img/2.png")
                div.card-content 
                    p This is the best dance academy of the universe. Join the academy and become the sensation of dancing.
        div.card
            h3 Expert Teaching
            div.card-box 
                div.card-img 
                    img(src="static/img/3.png")
                div.card-content 
                    p This is the best dance academy of the universe. Join the academy and become the sensation of dancing.

    section#sponsorSection
        h2 Our Sponsors
        div#sponsors 
            img(src="static/img/logo1.png", alt="Sponsor image",class="spImage")  
            img(src="static/img/logo2.png", alt="Sponsor image",class="spImage")  
            img(src="static/img/logo3.png", alt="Sponsor image",class="spImage")  
            img(src="static/img/logo3.png", alt="Sponsor image",class="spImage")  
    
