
body{
    height: 100vh;
    background-image: linear-gradient(rgb(255,255,255), rgb(109, 39, 239));    /*DOUBT*/   
} 

h1{
    margin-top: 12px;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center ;
}

.logo{
    display: block;
    margin: auto;
    width: 65px;
    height: 50px;
    margin-bottom: 5px;
}

.container{
    max-width: 955px;
    border: 2px solid black;
    border-radius: 6px;
    margin: auto;
    height: 60vh;
    padding: 3px;
    overflow-y: auto;                     /* jab y-direction me container se messages bahar jayenge, tab scrollbar aa jayega apne aap*/
}

.message{
    background-color: rgb(180, 177, 177);
    width: 24%;
    padding: 10px;
    margin: 17px 2px;
    border: 2px solid black;
    border-radius: 8px;
}

.left{
    float: left;
    clear: both;
}

.right{
    float: right;
    clear: both;
}

#send-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 18px;
    text-align: center;
    max-width: 1100px;
    width: 100%;
}

#messageInp{
    width: 80%;
    border: 2px solid black;
    border-radius: 6px;
    height: 30px;
    font-size: 17px;
    margin: 0 5px;
}

.btn{
    cursor: pointer;
    border: 2px solid black;
    border-radius: 6px;
    height: 35px;
}