
/*Navigation*/
#navbar{
    flex-direction: column;
}

#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px ;
    padding-bottom: 8px;
}


/*Home section*/
#home{
    height: 600px;
    padding: 3px 10px;
}

#home::before{
    height: 720px;
}

#home p{
    height: 150px;
}

/*Service section*/
#services{
    flex-direction: column;
}


/*Clients Section*/
#clients{
    /* overflow: hidden; */
    flex-wrap: wrap;
}

#clients img{
    width: 96px;
    padding: 0px 10px;
    /* height: auto; */
}


/*Contact us section*/
#contact-box form{
    width: 70%;
}


/*Utility-classes*/
.h-primary{
    font-size: 43px;
}

.btn{
    font-size: 13px;
    padding: 4px 8px;
}

.specialh2{
    margin-top: 20px;
}