
/* CSS Reset */
*{           
    margin: 0px;
    padding: 0px;
}

html{
    scroll-behavior: smooth;      /* This is done to enable smooth scrolling (ie jab navbar pe hum home pe click krenge, then vo hume home pr le jayega*/
}

/* Making CSS Variables */
:root{
    --navbar-height: 59px;
}

/* Navigation bar*/
#navbar{
    display: flex;
    align-items: center;
    position: sticky;     /* DOUBT*/
    top: 0px;
}

/* Navigation bar: Logo and image*/
#logo{
    margin: 10px 34px;
    height: 39px;
}

#logo img{
    height: 39px;
    margin: 1px 6px;
}

/* Navigation bar: List styling*/
#navbar ul{
    display: flex;
}

#navbar::before{                  /* hmesha background lgane ke liye before pseudo selector ko use kro*/
    content: "";           /*DOUBT*/
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    top:0px;
    left:  0px;
    opacity: 0.4;        /*it is controlling darkness of background */
}

#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a{
    color: white;
    display: block;        /* by default, anchor tag ki display inline hoti hai */
    padding: 3px 23px;
    border-radius: 20px;
    text-decoration: none;
    font-family: 'Baloo Bhai 2', cursive;
}

#navbar ul li a:hover{
    background-color: white;
    color: black;
}

/*Home section*/
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 790px;
    justify-content: center;
    align-items: center;
}

#home::before{
    content: "";
    background: url(../img/bg.jpg) no-repeat center center;   /*DOUBT*/  /* '../' is used to come out of present folder or go back to previous folder */
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    top:0px;
    left:  0px;
    opacity: 0.89; 
}

#home h2{
    color: white;
    text-align: center;
    font-family: 'Bree Serif', serif;
}

#home p{
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Bree Serif', serif;
}

/*Services Section*/

#services{
    margin: 14px;
    display: flex;
}

#services .box{
    border: 2px solid brown;
    padding: 34px;
    margin: 3px 6px;
    border-radius: 28px;
    background-color: #f2f2f2;
}

#services .box img{
   height: 160px;
   display: block;
   margin: auto;
}

#services .box p{
    font-family: 'Bree Serif', serif;
}


/*Client section*/
#client-section{
    position: relative;          /*DOUBT*/
}

#client-section::before{
    content: "";
    position:absolute;             /*DOUBT*/
    background: url(../img/bg2.jpg) no-repeat center center/cover;   /*DOUBT*/
    width: 100% ;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
}

#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}

#clients img{
    height: 124px;
}

.client-item{
    padding: 34px;
}


/*Contact-Section*/

#contact{
    position: relative;               /*DOUBT*/
}

#contact::before{
    content:"";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url(../img/bg3.jpg) no-repeat center center/cover;

}

#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;

}

#contact-box input,

#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}

#contact-box form{
    width: 40%;
}


#contact-box label{
    font-size: 1.3rem;
    font-family: 'Bree Serif', serif;
}


/*Footer*/
footer{
    background: rgb(18, 17, 17);
    color: white;
    padding: 9px 20px;
}


/* Utility Classes (ie which can be used anywhere else also) */ 
.h-primary{
    font-size: 3.8rem;
    padding: 12px;
    font-family: 'Bree Serif', serif;
}

.h-secondary{
    font-size: 2.3rem;
    padding: 12px;
    font-family: 'Bree Serif', serif;
}

.btn{
    padding: 6px 20px ;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    font-size: 1rem;
    border-radius: 10px;
    cursor: pointer;
}

.specialh2{
    margin-top: 90px;
}

.center{
    text-align: center;
}
